html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #fff;
}

#map {
	border: solid 1px #DBDBDB;
	padding: 0;
	background-color: #FFFFFF;
}

#mainTabContainer {
	width: 30%;
	margin: 0px;
	padding: 0px;
}

#editContentPane {
	height: 100px;
	margin: 0px;
	padding: 0px;
	display: none;
}
.companydescription{
	position: absolute; 
	left: 150px;
	bottom: 15px; 
	z-index: 50;
	font-size:12px; 
}

a.acompanydescription:link{	color: #4174D9; font-size: 12px; text-decoration: none; } 
a.acompanydescription:visited{	color: #4174D9; font-size: 12px; text-decoration: none; }
a.acompanydescription:hover{	color: #4174D9; font-size: 12px; text-decoration: none; }
a.acompanydescription:active{	color: #4174D9; font-size: 12px; text-decoration: none; }

.dj_ie .infowindow .window .top .right .user .content {
	position: relative;
}

.dj_ie .simpleInfoWindow .content {
	position: relative;
}

.esriAttributeInspector .atiRichTextField .dijitEditorIFrameContainer {
	height: 60px;
}

.templatePicker {
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.templatePicker .grid {
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.templatePicker .dojoxGrid {
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.templatePicker .grid .dojoxGridCell {
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.itemLabel {
	font-size: 10px !important;
}


.uploadBtn {
	border: 1px solid #333333;
	background: url(buttonEnabled.png) #d0d0d0 repeat-x scroll 0px top;
	font-size: 14px;
	width: 201px;
	height: 30px;
	vertical-align: middle; /* emulates a <button> if node is not */
	text-align: center;
}

.uploadHover {
	background-image: url(buttonHover.png);
	cursor: pointer;
	font-weight: bold;
}

.uploadPress {
	background-image: url(buttonActive.png);
}

.uploadDisabled {
	background-image: none;
	background-color: #666;
	color: #999;
	border: 1px solid #999;
}

.jsucode {
	font-size: 10px;
	background: #d4e4ff;
	background: beige;
	border: 1px solid #999999;
	padding-top: 4px;
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}