<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>map edit demo</display-name>
  <welcome-file-list>
    <welcome-file>editv2.jsp</welcome-file>
    <welcome-file>edit.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>server</param-name>
    <param-value>192.168.0.178</param-value>
  </context-param>
  <context-param>
    <param-name>instance</param-name>
    <param-value>5151</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>sde_db</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>sde</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>sde</param-value>
  </context-param>
  <context-param>
    <param-name>timeout</param-name>
    <param-value>1000</param-value>
  </context-param>
  <context-param>
    <param-name>minconn</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>maxconn</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>isclear</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>sdebin</param-name>
    <param-value>C:/Program Files/ArcGIS/ArcSDE/ora10gexe/bin</param-value>
  </context-param>
  <context-param>
    <param-name>outpath</param-name>
    <param-value>C:\testsde</param-value>
  </context-param>
  <context-param>
    <param-name>companyDescription</param-name>
    <param-value>技术支持：&lt;a class=&quot;acompanydescription&quot; href=&quot;http://www.dienoil.com&quot;  target=&quot;_blank&quot; >地盈石油&lt;/a></param-value>
  </context-param>
  <context-param>
    <param-name>companyLogo</param-name>
    <param-value>./images/logo-med-dien.png</param-value>
  </context-param>
  <context-param>
    <param-name>companyUrl</param-name>
    <param-value>http://www.dienoil.com</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>maxSize</param-name>
    <param-value>102400000</param-value>
  </context-param>
  <context-param>
    <param-name>slowUploads</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>ManagerLoginUrl</param-name>
    <param-value>http://192.168.0.254:8080/manager/portalusercontroller.do</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>OperatMapServlet</display-name>
    <servlet-name>OperatMapServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.OperatMapServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatMapServlet</servlet-name>
    <url-pattern>/operatMap.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.UploadShpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownShpServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.DownShpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownShpServlet</servlet-name>
    <url-pattern>/downShp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShpToSdeServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.ShpToSdeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShpToSdeServlet</servlet-name>
    <url-pattern>/shpToSde.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.dien.manager.servlet.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>portalUrl</param-name>
      <param-value>http://192.168.0.178:3030/portal/</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SymbolImageServlet</display-name>
    <servlet-name>SymbolImageServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.SymbolImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SymbolImageServlet</servlet-name>
    <url-pattern>/symbolImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerPointSymbolServlet</display-name>
    <servlet-name>ManagerPointSymbolServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.ManagerPointSymbolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerPointSymbolServlet</servlet-name>
    <url-pattern>/managerPointSymbol.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerTemplateServlet</display-name>
    <servlet-name>ManagerTemplateServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.ManagerTemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTemplateServlet</servlet-name>
    <url-pattern>/managerTemplate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerAliasServlet</display-name>
    <servlet-name>ManagerAliasServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.ManagerAliasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerAliasServlet</servlet-name>
    <url-pattern>/managerAliasServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.so</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerificationCodeServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.VerificationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationCodeServlet</servlet-name>
    <url-pattern>/imageVerificationCode.so</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PingServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.PingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PingServlet</servlet-name>
    <url-pattern>/Ping.so</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicFreeServlet</display-name>
    <servlet-name>PublicFreeServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.PublicFreeServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicFreeServlet</servlet-name>
    <url-pattern>/free.so</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.so</url-pattern>
  </servlet-mapping>
  <!-- 上传文件 -->
  <servlet>
    <servlet-name>UploadPercent</servlet-name>
    <servlet-class>com.dien.manager.servlet.UploadPercent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.dien.manager.servlet.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadPercent</servlet-name>
    <url-pattern>/servlet/UploadPercent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 测试上传 -->
  <servlet>
    <servlet-name>testUploadServlet</servlet-name>
    <servlet-class>com.dien.upload.server.UploadShpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testUploadServlet</servlet-name>
    <url-pattern>/testupshp.do</url-pattern>
  </servlet-mapping>
</web-app>